<clr-header class="orange">
    <div class="branding">
      <a routerLink="/home" class="nav-link">
        <clr-icon shape="happy-face" style="color:white"></clr-icon>
        <span class="title">Jokes On Me</span>
      </a>
    </div>
    <div class="header-actions">
        <a routerLink="/dictionary" class="nav-link nav-text">
            Dictionary 
        </a>
        <a routerLink="/archives" class="nav-link nav-text">
            Archives
        </a>
        <a routerLink="/subscriptions" class="nav-link nav-text">
            Subscription
        </a>
        <a routerLink="/about" class="nav-link nav-text">
            About
        </a>
    </div>
  </clr-header>