<img src="../src/assets/skyline.svg">
<h1><a href='https://jokes-website.herokuapp.com' >href=<%-title %></a></h1>
<h2><%- description%></h2>
<h3><%- date%></h3>
<footer>
    Jokes On Me 
    &copy;Julia Kieserman 2017
</footer>