h1 {
  color: #F81B84;
  text-align: center;
  font-family: 'Geneva';
  font-weight: bold;
}

h2 {
  text-align: center;
  font-family: 'georgia';
  font-weight: lighter;
  color: black;
}

h3 {
  color: #43C0F6;
  text-align: center;
  font-family: 'cicle-gordita';
  font-size: 1.5em;
}

footer {
  background-color: #FDB813;
  color: white;
  height: 3em;
  text-align: center;
}

a {
  text-decoration: none;
  color: grey;
}

.main-content {
  border-bottom: 1px dashed;
}