<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div *ngFor="let letter of alphabet">
        <button type="submit" class="btn btn-outline btn-circle" (click)="filterLetter(letter)">{{letter}}</button>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header">

  </div>

  <table class="table">
    <thead>
      <tr>
        <th> Word </th>
        <th> Type </th>
        <th> Synonymous </th>
      </tr>
    </thead>
    <tbody  *ngFor="let item of entries | async" (click)="switchFeature(item)">
      <tr>
        <th> {{item.word}} </th>
        <th> {{item.definition}} </th>
      </tr>
    </tbody>
  </table>
</div>

