@import '../shared/styles/_colors.scss';
@import '../shared/styles/_fonts.scss';

.center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.header-text {
    font-family: $ostrich-font-regular;
    color: $joke-blue;
    font-size: 3em;
    font-weight: bold;
    margin-bottom: .5em;
}

.paragraph-text {
    font-family: '$circle-font';
    font-size: 1.5em;
}

.content {
    margin-bottom: 1.5em;
}

.btn {
    background-color: $joke-pink;
    border-color: $joke-pink;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    background-color: $pink-compliment;
}

.date {
    width: 12em;
    height: 12em;
    margin-left: auto;
    margin-right: auto;
}

.number {
    font-size: 7em;
    text-align: center;
    color: $joke-blue;
    font-weight: bold;
    font-family: $ostrich-font-regular;
    float: none;
}

.space {
    margin-top: 2em;
    margin-bottom: 2em;
}

.extra-text {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: $ostrich-font-regular;
    font-size: 2em;
}

.form-center {
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
}

.form-label {
    width: 100%;
    text-align: center;
}

.input-container {
    position: relative;
    padding: 0 0 0 20px;
    margin: 0 20px;
    width: 200px;
}

.input {
    height: 20px;
    margin: 0;
    padding-right: 30px;
    width: 100%;
}

.input-img {
    position: absolute;
    bottom: 2px;
    right: 5px;
    width: 24px;
    height: 24px;
}