<div class="container">
  <div class="content">
    <div class="row">
      <span class="header-text center"> About the Jokes </span>
    </div>
    <div class="row">
      <span class="paragraph-text center"> Once an experimental daily email sent out to a listserv of friends and family, Jokes On Me is now an experimental website open to ridicule and mocking from anyone courageous enough to stumble across the site. It was born from an interest in late night      television monologues and jaw-aching respect for those that write them. Hopefully this site will bring you the daily chuckle, smile, or even milk spewing upset that every day deserves. </span>
    </div>
    <div class="row">
      <br>
      <br>
      <button class="btn btn-primary center" (click)="randomJoke()"> Make me Laugh </button>
    </div>
  </div>
</div>