<div class="container">
  <div class="content">
    <div class="row">
      <span class="header-text center"> About the Jokes </span>
    </div>
    <div class="row">
      <span class="paragraph-text center"> Once an experimental daily email sent out to a listserv of friends and family, Jokes On Me is now an experimental website open to ridicule and mocking from anyone courageous enough to stumble across the site. It was born from an interest in late night      television monologues and jaw-aching respect for those that write them. Hopefully this site will bring you the daily chuckle, smile, or even milk spewing upset that every day deserves. </span>
    </div>
    <div class="row space">
      <br>
      <br>
      <button class="btn btn-primary center" (click)="randomJoke()"> Make me Laugh </button>
      <button class="btn btn-primary center" (click)="contactMe()"> Contact Me </button>
    </div>
    <div class="row" *ngIf="showContact">
      <form #contactForm="ngForm">
        <label> Contact Form </label>

        <!-- Name -->
        <div class="form-group">
          <label for="name"> Name </label>
          <input type="text" class="form-control" 
            [(ngModel)]="emailName" name="name" 
            required
            #name="ngModel">
            <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
              Name is required.
            </div>
        </div>

        <!-- Email -->
        <div class="form-group">
          <label for="email"> Email </label>
          <input type="email" [(ngModel)]="emailValue" name="email" 
            required email 
            #email="ngModel">
          <div [hidden]="email.valid || email.pristine" class="alert alert-danger">
            Valid email is required.
          </div>
        </div>

        <!-- Message -->
        <div class="form-group">
          <label for="message"> Message </label>
          <textarea [(ngModel)]="emailMessage" name="message"
            #message="ngModel" 
            required
            ></textarea>
            <div [hidden]="message.valid || message.pristine" class="alert alert-danger">
              Message is required.
          </div>
        </div>
        <button class="btn btn-primary" [disabled]="!contactForm.valid">Submit</button>
      </form>
    </div>
    <div *ngIf="submittedContact">
      <p> Thanks for your message! </p>
    </div>
    <div class="row">
      <div class="card date" [@flip]="flipState" (click)="toggleMove()">
        <div class="card-block number">
          {{content}}
        </div>
      </div>
    </div>
    <div class="row">
      <p class="extra-text"> {{reveal}} </p>
    </div>
  </div>
</div>