<div class="container">
  <div class="content">
    <div class="row">
      <span class="header-text center"> About the Jokes </span>
    </div>
    <div class="row">
      <span class="paragraph-text center"> Once an experimental daily email sent out to a listserv of friends and family, Jokes On Me is now an experimental website open to ridicule and mocking from anyone courageous enough to stumble across the site. It was born from an interest in late night      television monologues and jaw-aching respect for those that write them. Hopefully this site will bring you the daily chuckle, smile, or even milk spewing upset that every day deserves. </span>
    </div>
    <div class="row space">
      <br>
      <br>
      <button class="btn btn-primary center" (click)="randomJoke()"> Make me Laugh </button>
      <button class="btn btn-primary center" (click)="contactMe()"> Contact Me </button>
    </div>
    <div class="row" *ngIf="showContact">
      <form>
        <section class="form-block">
          <label> Contact Form </label>
          <div class="form-group">
            <label for="emailName"> Your Name </label>
            <input type="text" id="emailName" size="45" required name="emailName" [(ngModel)]="emailName">
          </div>
          <div class="form-group">
            <label for="emailValue"> Your Email </label>
            <input type="text" id="emailValue" size=45 name="emailValue" [(ngModel)]="emailValue" required>
          </div>
          <div class="form-group">
            <label for="emailMessage"> Your Message </label>
            <textarea class="form-control" id="emailMessage" name="emailMessage" required [(ngModel)]="emailMessage"></textarea>
          </div>
          <button type="submit" (click)="submitContact()" class="btn btn-primary"> Submit </button>
        </section>
      </form> 
    </div>
    <div *ngIf="submittedContact">
      <p> Thanks for your message! </p>
    </div>
    <div class="row">
      <div class="card date" [@flip]="flipState" (click)="toggleMove()">
        <div class="card-block number">
          {{content}}
        </div>
      </div>
    </div>
    <div class="row">
      <p class="extra-text"> {{reveal}} </p>
    </div>
  </div>
</div>