<div class="container">
  <div class="row">
    <input class="pull-right" type="text" [(ngModel)]="searchText" placeholder="Search..." (keyup)="filterSearch()" size="45">
    <clr-icon shape="search" size="12"></clr-icon>
    <clr-icon shape="menu" (click)="category()"></clr-icon>
  </div>
  <div class="row">
    <table class="table" *ngIf="searchList.length > 0">
      <tbody>
        <tr *ngFor="let joke of searchList" (click)="goToJoke(joke)" style="width: 25%">
          <td class="searchText">{{joke.title}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="row" *ngIf="jokeList.length > 0">
    <div class="col-lg-4 col-md-8 col-sm-12 col-xs-12" *ngFor="let joke of jokeList" (click)="goToJoke(joke)">
      <div class="card">
      <!--[@shake]="shakeState" (mouseover)="toggleShake()" (mouseout)="toggleShake()">-->
        <div class="card-block">
          <div class="row">
            <div class="col-lg-3">
              <div class="date">
                <span class="day">{{joke.date | date: 'dd'}}</span>
                <br>
                {{joke.date | date: 'MMMM'}}
              </div>
            </div>
            <div class="col-lg-9 center">
              <div class="row center">
                <span class="title">{{joke.title}}</span>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
