@import '../shared/styles/_colors.scss';
@import '../shared/styles/_fonts.scss';

.btn {
    background-color: $joke-pink;
    border-color: $joke-pink;
}

.ostrich-font {
    font-family: $circle-font;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    background-color: $pink-compliment;
}

span {
    color: $joke-blue;
}

.unsubscribe {
    font-style: italic;
    font-size: 1em;
}