<div class="container" *ngIf="subscriberCount">
    <form #emailForm="ngForm">
        <section class="form-block">
            <label>Subscribe to join <span class="blue">{{subscriberCount}}</span> other subscribers and get jokes delivered to the comfort of your inbox</label>
            <div class="form-group">
                <label for="email">Email</label>
                <input 
                type="text" 
                name="email"
                [(ngModel)]="changeSubscription.email" 
                placeholder="Enter your email"
                #email="ngModel"
                size="45"
                required email>
            </div>
            <div [hidden]="email.valid || email.pristine" style="color: red">
                Valid email is required.
            </div>
            <div class="form-group">
                <label for="subscriptionType">Frequency of Emails:</label>
                <div class="select">
                    <select required id="subscriptionType" [(ngModel)]="changeSubscription.subscriptionType" name="subscriptionType">
                        <option>Daily</option>
                        <option disabled>Weekly</option>
                        <option disabled>Monthly</option>
                        <option>No Emails</option>
                    </select>
                </div>
            </div>
            <button type="submit" class="btn btn-primary" (click)="subscribe()" [disabled]="!emailForm.valid">Submit</button>
        </section>
    </form>
</div>