@import '../shared/styles/_colors.scss';
@import '../shared/styles/_fonts.scss';

.parallax-container {
    background-color: #F2EEE2;
}

.date-today {
    color: $joke-blue;
    font-weight: bold;
    font-size: 2em;
}

.joke-content {
    font-size: 15px;
}

.center {
    text-align: center;
}

.right-arrow {
    float: right;
}

.left-arrow {
    float: left;
}

.space {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

.stars {
    margin-top: 1em;
    font-size: 2em;
    color: $joke-blue;
}

.submit-button {
    font-size: .6em;
    margin-bottom: 3em;
}

.header-text {
    font-family: $ostrich-font-regular;
    font-weight: bold;
    font-size: 4em;
    color: $joke-pink;
    margin-left: auto;
    margin-right: auto;
    margin-top: .5em;
    margin-bottom: .5em;
}

.description-text {
    font-family: $circle-font;
    font-size: 1.5em;
}

.img-responsive.img-center {
  margin: 0 auto;
}

.btn {
    background-color: $joke-pink;
    border-color: $joke-pink;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    background-color: $pink-compliment;
}